@font-face{
    src: url("fonts/magicOwl.otf");
    font-family: Magic Owl; 
}

body{
    color: #eeeeec;
    background: linear-gradient(#8294ac, #d7dae9);
    font-family: Magic Owl;
    text-align: center;
    text-shadow: 0px 0px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #902433;
}

#age{
    background: #902433;
    border-radius: 5px;
    font-size: 26px;
    margin: 5px 0 10px 0;
    padding: 5px 10px;
}
#date{
    background: #902433;
    border-radius: 5px;
    margin: 0;
    padding: 5px 10px;
}
#gift-section{
    margin: 50px 0 0 0;
}
.gift-heading{
    font-size: 30px;
    margin: 0 0 10px 0;
}
.gift-hint{
    font-size: 26px;
    margin: 0 0 0 0; 

}

.gift-img{
    background-image: url("images/gift-wrap.jpg");
    border: 6px solid #f1d760;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}
#gift-img-five{
    height: 200px;
}
#gift-img-one:hover{
    background-image: url("https://media.giphy.com/media/26gN16cJ6gy4LzZSw/giphy.gif");
    background-size: cover;
    border: 6px solid #902433;
}
#gift-img-two:hover{
    background-image: url("https://media.giphy.com/media/3o75271l90QWINQSbe/giphy.gif");
    background-size: cover;
    border: 6px solid #902433;
}
#gift-img-three:hover{
    background-image: url("https://media.giphy.com/media/VwUquCGtIatGg/giphy.gif");
    border: 6px solid #902433;
}
#gift-img-four:hover{
    background-image: url("https://media.giphy.com/media/eGmKeueVnk31yCRQW5/giphy.gif");
    border: 6px solid #902433;

}
#gift-img-five:hover{
    background-image: url("https://media.giphy.com/media/x8m7Snrt1LwPexWy5D/giphy-downsized.gif");
    border: 6px solid #902433;
}
#footer{
    font-size: 20px;
    margin: 10px auto 10px auto;
}
a{
    color:#eeeeec;
}
